extends ./templates/base_template.jade
block content
   div.contentSecond
      div.content_blockSearch
         div.blockSearch_wrapperSearch
            div.blockSearch_search
               form
                  input(type="search" name="search" placeholder="")
                  //input(type="submit" value="Поиск")
               div.blockSearch_buttonSearch
                  div.blockSearch_button
                     p ПОИСК

         div.blockSearch_content
            div.blockSearch_columnOne
               div.blockSearch_priorityArea
                  p Приоритетный район:
                  div.blockSearch_select
                     select
                        option Приоритетные районы(2)
                        option Конная Лахта
                        option Красносельский
                     //form
                     //   input
               div.blockSearch_square
                  p Площадь ЗУ:
                  div.blockSearch_quantityOfSquare
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     vKv
                        p м.кв
               //водоотведение
               div.blockSearch_severage
                  p Водоотведение:
                  div.blockSearch_quantityOfSeverage
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
            div.blockSearch_columnTwo
               div.blockSearch_typeOfUse
                  p Вид разрешенного использования:
                  div.blockSearch_select
                     select
                        option Выберите вид разрешенного использовани
                        option 1
                        option 2
                     //form
                     //   input
               div.blockSearch_gasification
                  p Газоснабжение:
                  div.blockSearch_quantityOfGas
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
               div.blockSearch_heatSupply
                  p Теплоснабжение
                  div.blockSearch_quantityOfHeat
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p Гкал/час

            div.blockSearch_columnThree
               div.blockSearch_classOfDanger
                  p Класс опасности производства:
                  div.blockSearch_select
                     select
                        option Выберите класс опасности производства
                        option 1
                        option 2
                     //form
                     //   input
               div.blockSearch_waterSupply
                  p Водоснабжение:
                  div.blockSearch_quantityOfWater
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p м.куб./сутки
               div.blockSearch_electricitySupply
                  p Электроснабжение
                  div.blockSearch_quantityOfElectricity
                     p от
                     form
                        input(type="text" size="3")
                     p до
                     form
                        input(type="text" size="3")
                     p кВт

      div.content_blockMap

         div.content_map
            canvas

         //div.content_sidebarInformation
         //   div.angleTop_comment.sidebar_comment
         //      p Свернуть панель инструментов
         //   div.industrialZonesBorders_comment.sidebar_comment
         //      p Отображение границ промышленных зон
         //   div.sections_comment.sidebar_comment
         //      p Отображение земельных участков внутри границ промышленных зон
         //   div.redactor_comment.sidebar_comment
         //      p Редактирование информации о выбранном земельном участке
         //   div.trash_comment.sidebar_comment
         //      p Удаление выбранного объекта
         //   div.lineChanging_comment.sidebar_comment
         //      p Изменение котуров промышленных зон/земельных участков

         div.content_blockSidebar
            div.content_sidebar
               div.sidebar_upperButtons
                  div.sidebar_angleTopButton.sidebarButtons
                     img(src="../images/angleTop.gif")
                     div.angleTop_comment.sidebar_comment
                        p Свернуть панель инструментов
                     //img(src="../images/svg/angleTop.svg")
                  div.sidebar_industrialZonesBordersButton.sidebarButtons
                     img(src="../images/industrialZonesBorders.gif")
                     //img(src="../images/svg/industrialZonesBorders.svg")
                  div.sidebar_sectionsButton.sidebarButtons
                     img(src="../images/sections.gif")
                     //img(src="../images/svg/sections.svg")
                  div.sidebar_redactorButton.sidebarButtons
                     img(src="../images/redactor.gif")
                     //img(src="../images/svg/redactor.svg")
                  div.sidebar_trashButton.sidebarButtons
                     img(src="../images/trash.gif")
                     //img(src="../images/svg/trash.svg")
                  div.sidebar_lineChangingButton.sidebarButtons
                     img(src="../images/lineChanging.gif")
                     //img(src="../images/svg/lineChanging.svg")
                  //i(class="fa fa-chevron-up" aria-hidden="true")//стрелка вверх
                  //i(class="fa fa-chevron-down" aria-hidden="true")// стрелка вниз
                  //i(class="fa fa-map-marker" aria-hidden="true") // маркер


                  //i(class="fa fa-trash-o" aria-hidden="true")//мусорка

                  //i(class="fa fa-camera" aria-hidden="true")//камера

               div.sidebar_bottomButtons

            div.information_objectName
               p Конная Лахта
            div.information_objectAdress
               p СПб, ул. Электропультовцев, д. 7, литера У
            div.information_wrapperObjectInformation
               div.information_buttonClose
                  img(src="../images/svg/whiteCloseX.svg")
               div.information_objectInformation
                  div.information_objectInformationArrow
                     img(src="../images/svg/triangleBottom.svg")
                  div.information_objectInformationText
                     p Информация о найденных объектах

               -var information = [];
               -information.push({number:'1', area:'Конная Лахта', adress:'СПб, ул.Электропультовцев, д.7, литера У', more:'#'});
               -information.push({number:'2', area:'Конная Лахта', adress:'СПб, ул.Электропультовцев, д.7, литера У', more:'#'});
               each item in information

                  div.information_list
                     div.information_wrapperNumberContent
                        div.information_wrapperListNumber
                           div.information_listNumber
                              p!= item.number
                        div.information_listContent
                           div.information_listArea
                              p!= 'Район: ' + item.area
                           div.information_listAdress
                              p!= 'Адрес: ' + item.adress
                     div.information_listMore
                        a(href!= item.more) Подробнее

      div.content_objectDescription
         div.objectDescription_header
            p Подробное описание выбранного обьекта

         div.objectDescription_content
            -var description = [];
            -description.push({name:'Район:', nameContent:'#'});
            -description.push({name:'Адрес:', nameContent:'#'});
            -description.push({name:'Кадастровый номер:', nameContent:'#'});
            -description.push({name:'Вид разрешенного использования:', nameContent:'#'});
            -description.push({name:'Правообладатель:', nameContent:'#'});
            -description.push({name:'Вид деятельности (для участков в частной собственности):', nameContent:'#'});
            -description.push({name:'Основание(для участков в частной собственности):', nameContent:'#'});
            -description.push({name:'Технические возможности подключения:', nameContent:'#'});
            -description.push({name:'Водоснабжение:', nameContent:'#'});
            -description.push({name:'Водоотведение:', nameContent:'#'});
            -description.push({name:'Теплоснабжение:', nameContent:'#'});
            -description.push({name:'Электроснабжение:', nameContent:'#'});
            -description.push({name:'Газоснабжение:', nameContent:'#'});
            -description.push({name:'Градостроительные преобразования:', nameContent:'#'});
            -description.push({name:'Сроки реализации:', nameContent:'#'});

               each item in description

                  div.objectDescription_itemHeader
                     p!= item.name
                  div.objectDescription_itemContent
                     p!= item.nameContent

         div.objectDescription_buttons
            div.objectDescription_buttonReference.objectDescription_bottomButtons
               p Заказать справку
            div.objectDescription_buttonEditing.objectDescription_bottomButtons
               p Редактировать

      div.content_objectDescription
         div.objectDescription_header
            p Редактирование описания выбранного объекта

         div.objectDescription_content

            div.objectDescription_itemHeader
               p Район:
            div.objectDescription_itemContent
               input(type="text" size="20")

            div.objectDescription_itemHeader
               p Адрес:
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Кадастровый номер:
            div.objectDescription_itemContent
               input(type="text" size="20")

            div.objectDescription_itemHeader
               p Вид разрешенного использования:
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Правообладатель:
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Вид деятельности (для участков в частной собственности):
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Основание(для участков в частной собственности):
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Технические возможности подключения:
            div.objectDescription_itemContent
               textarea(cols="40" rows="2")

            div.objectDescription_itemHeader
               p Водоснабжение:
            div.objectDescription_itemContent
               input(type="text" size="7")
               input(type="text" size="7")
               p предусматривается от системы централизованного водоснабжения.

            div.objectDescription_itemHeader
               p Водоотведение:
            div.objectDescription_itemContent
               input(type="text" size="7")
               input(type="text" size="7")
               p предусматривается в систему централизованной канализации.

            div.objectDescription_itemHeader
               p Теплоснабжение:
            div.objectDescription_itemContent
               input(type="text" size="7")
               input(type="text" size="7")
               p предусматривается от планируемых к строительству источников теплоснабжения.

            div.objectDescription_itemHeader
               p Электроснабжение:
            div.objectDescription_itemContent
               input(type="text" size="7")
               input(type="text" size="7")
               p предусматривается от системы централизованного электроснабжения.

            div.objectDescription_itemHeader
               p Газоснабжение:
            div.objectDescription_itemContent
               input(type="text" size="7")
               input(type="text" size="7")
               p предусматривается от городской газораспределительной сети.

            div.objectDescription_itemHeader
               p Градостроительные преобразования:
            div.objectDescription_itemContent
               input(type="text" size="40")

            div.objectDescription_itemHeader
               p Сроки реализации:
            div.objectDescription_itemContent
               input(type="text" size="10")
               p  -
               input(type="text" size="10")

         div.objectDescription_buttons
            div.objectDescription_buttonPublish.objectDescription_bottomButtons
               div.publication
                  p Опубликовать
            div.objectDescription_buttonSave.objectDescription_bottomButtons
               p Сохранить